# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ahiemann\Documents\Studium\Master\semester2\Reactive-Programming\Moderne-Programmiersprachen\MeineScalaProjekte\ConnectFour\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
